.about{
    min-height: 500px;
}

.intrests {
    display: grid;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    gap: 2%;
    margin: 0 6% 150px 6%;
}

@media screen and (max-width: 1400px) {
    .intrests{
        display: grid;
        grid-template-columns: 32% 32% 32%;
    }
    
}

@media screen and (max-width: 1000px) {
    .intrests{
        display: grid;
        grid-template-columns: 49% 49%;
    }
}

@media screen and (max-width: 500px) {
    .intrests{
        display: grid;
        grid-template-columns: 100%;
    }
}